<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Coin Effects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <style>
        html,
        body,
        canvas {
            margin: 0 !important;
            padding: 0 !important;
            overflow: hidden !important;
        }
        canvas{
            border: 2px solid #000000;
        }
    </style>
</head>

<body>
    <div id="game"></div>
    <script src="vendors.game.bundle.js"></script>
    <script src="game.bundle.js"></script>
</body>

</html>